<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] | %d{yyy-MM-dd HH:mm:ss} | %logger{36} | %msg%n" />
        </Console>
        <File name="File" fileName="src/Logs/application.log" immediateFlush="false" append="false">
            <PatternLayout pattern="[%-5level] | %d{yyy-MM-dd HH:mm:ss} | %logger{36} | %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="TestPackage.Tests.PrintStringsTest1" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="TestPackage.Tests.MysqlTest" level="debug" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>